
/* regole generali */
:root{
    --color-odd:rgb(55 189 156);
    --padding-up-down:20px;
    --color-text-odd:white;
    --color-even:rgb(44, 62, 80);
}

/* HEADER */

/* sfondo menu navigazione */
.bg-header{
    background-color: var(--color-even);
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
}

/* logo */
.logo{
    height: 90px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

/* hamburger menu */
.hamburger-menu{
    max-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 12px;
}

/* menu esteso */
.nav-menu{
    display: flex;
    justify-content: end;
    gap: 30px;
    list-style: none;
    display: none;
    margin-bottom: 0;
}

.nav-menu a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

/******** RESPONSIVE MENU  *********/
@media all and (min-width:1121px) {
    .logo{
        font-size: 30px;
    }

    .nav-menu{
        display: flex;
    }

    .hamburger-menu{
        display: none;
    }

    .nav-menu a{
        font-size: 18px;
    }

    #jumbo{
        padding-top: 30px;
    }
    
}



/***********************************/
/* sezione jumbo */
#jumbo{
    background-color: var(--color-odd);
    margin: 90px 0 40px;
}

/* immagine profilo */
.img-prof{
    padding: 30px 0;
}


.img-prof img{
    max-width: 290px;
}


h1{
    color: var(--color-text-odd);
    font-weight: 700;
    padding-bottom: var(--padding-up-down);
}

/* regole per linea di stacco */
.interlinea{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interlinea i{
    font-size: 35px;
    color: var(--color-text-odd);
}

.line{
    padding: 2px;
    background-color: var(--color-text-odd);
    width: 40%;
    max-width: 200px;
    border-radius: 10px;
}

/* elòenco professioni */
.profession{
    padding: var(--padding-up-down);
    color: var(--color-text-odd);
    font-size: 20px;
}

/******** RESPONSIVE JUMBO  *********/
@media all and (min-width:1121px) {
    h1{
        font-size: 70px;
    }

    .profession{
        font-size: 25px;
    }
    
}



/***********************************/






/* MAIN */

/********* sezione portfolio ******/
/* dettaglio card */
#portfolio{
    padding-bottom: 40px;
}
.card{

    /* DEBUG */
    height: 250px;
    background-color: blueviolet;
}

/* ------------------------------ */


/********** sezione About *********/
#about{
    padding-bottom: 20px;
    background-color: rgb(55 189 156);
}
.text-about{

    /*  DEBUG */
    height: 150px;
    background-color: brown;
    border: 1px solid black;
}

.btn{

    /* debug */
    background-color: aquamarine;
}

/* ----------------------------- */


/********* sezione Contact Me  ********/
#contact{
    padding-bottom: 20px;
}

.fill-message{

    /* DEBUG */
    height: 50px;
    background-color: brown;
    border: 1px solid black;
}

.fill-message_xl{

    /* DEBUG */
    height: 150px;
    background-color: brown;
    border: 1px solid black;
}


/* FOOTER */
/* sezione in alto */
#find-us{
    background-color: rgb(62 82 109);
    padding: 70px 0;
}

.location, .social, .more-info{

    /* DEBUG */
    background-color: brown;
    border: 1PX SOLID black;
    height: 150px;
}

/* sezione in basso */
#copyright{
    background-color: rgb(47 61 80);
}