
/* HEADER */

/* sfondo menu navigazione */
.bg-dark{
    background-color: rgb(47 61 80);
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
}

/* logo */
.logo{
    height: 90px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

/* hamburger menu */
.hamburger-menu{
    display: flex;
    align-items: center;
    /* DFEBUG */
    background-color: aquamarine;
    height: 45px;
}

/* immagine profilo DEBUG */
.img-prof{

    /* DEBUG */
    height: 150px;
    background-color: aquamarine;
    border: 1px solid black;
}

/* contenuto testuale DEBUG */
.titol, .profession{

    /* DEBUG */
    height: 80px;
    background-color: blue;
    border: 1px solid black;
}

/* sezione jumbo */
#jumbo{
    background-color: rgb(55 189 156);
    margin: 90px 0 40px;

}


/* MAIN */

/********* sezione portfolio ******/
/* dettaglio card */
#portfolio{
    padding-bottom: 40px;
}
.card{

    /* DEBUG */
    height: 250px;
    background-color: blueviolet;
}

/* ------------------------------ */


/********** sezione About *********/
#about{
    padding-bottom: 20px;
    background-color: rgb(55 189 156);
}
.text-about{

    /*  DEBUG */
    height: 150px;
    background-color: brown;
    border: 1px solid black;
}

.btn{

    /* debug */
    background-color: aquamarine;
}

/* ----------------------------- */


/********* sezione Contact Me  ********/
#contact{
    padding-bottom: 20px;
}

.fill-message{

    /* DEBUG */
    height: 50px;
    background-color: brown;
    border: 1px solid black;
}

.fill-message_xl{

    /* DEBUG */
    height: 150px;
    background-color: brown;
    border: 1px solid black;
}


/* FOOTER */
/* sezione in alto */
#find-us{
    background-color: rgb(62 82 109);
    padding: 70px 0;
}

.location, .social, .more-info{

    /* DEBUG */
    background-color: brown;
    border: 1PX SOLID black;
    height: 150px;
}

/* sezione in basso */
#copyright{
    background-color: rgb(47 61 80);
}